* {
	box-sizing: border-box;
}


html, body {
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
	
  }

  #navbar {
	padding: 5px;
}

button#dropdown-toggle {
	background-color: #3949AB; 
  }

  button#dropdown-toggle:hover {
	background-color: #1A237E; 
  }
#navtext {
	margin-top: 5px;
}
  
nav img {
	height: 4rem;
	padding: 10px; /* Add padding to the logo */
}

footer {
	background-color: #ffffff;
	padding: 1rem;
	text-align: center;
	margin-top: 1rem;
    color: rgb(0, 0, 0);
}

a:hover {
	background-color: #f0f0f0;
  }

  header h1{
    color: white;
}

header {
	background-color: #ffffff;
	padding: 0.5rem;
	border-bottom: 1px solid black;
  }

  .shopping-cart {
    width: 60%;
    height: auto;
    /* background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 4%;
	border: 1px solid #DED5F0; */
    display: flex;
    flex-direction: column;
	margin-left: auto;
	
}

.title {
    height: 60px;
    border-bottom: 1px solid #4338CA;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.item {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4338CA;
	width: 100%;
}

.buttons {
    margin-right: 60px;
}

.image {
    margin: 5rem;
	width: 20%;
}

.description {
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}

.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

.quantity {
    margin-right: 60px;
	color: #f0f0f0;
}

.quantity input {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #4338CA;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn img {
    margin-bottom: 3px;
}

.plus-btn img {
    margin-top: 2px;
}

.total-price {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.checkout-container {
	width: 20%;
	height:100%;
	padding: 40px;
	/* background-color: white;
	border: 2px solid #DED5F0; */
	/* border-radius: 8%; */
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
	margin-right: auto;
	margin-top: auto;
}
.logo {
	text-align: center;
	margin-bottom: 30px;
}
.form-group {
	margin-bottom: 20px;
}
label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
input,
textarea,
select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}
.order-summary {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
}
.order-summary {
	text-align: left;
	margin-left: 20px;
  }

  .totalPrice {
	font-weight: bold;
	font-size: 1.2rem;
  }

button {
	padding: 10px 20px; /* Add padding for spacing */
	font-size: 16px; /* Set font size */
	background-color: #6366F1; /* Set background color */
	color: white; /* Set text color */
	border: none; /* Remove border */
	border-radius: 5px; /* Add border radius for rounded corners */
	cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  button:hover {
	background-color: #6366F1; /* Change background color on hover */
  }

  hr {
	border: 1px solid #4338CA;
	width: 100%;
  }
 
  .flex {
	display: flex;
  }

@media screen and (max-width: 768px) {
	.shopping-cart {
		width: 100%;
		height: auto;
		overflow: hidden;
	  }
	  .item {
		height: auto;
		flex-wrap: wrap;
		justify-content: center;
	  }
	  .image img {
		width: 50%;
	  }
	  .image,
	  .quantity,
	  .description {
		width: 100%;
		text-align: center;
		margin: 6px 0;
	  }
	  .buttons {
		margin-right: 20px;
	  }
	}
}

/* Footer */